/* src/pages/Contact.css */

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 80px); /* Adjust the height based on your navbar's height */
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  color: #715177;
  margin-top: 40px;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.2rem;
  color: #6e3f74;
  margin-top: 40px;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}




  